
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{%static 'ecomWeb/style.css'%}">
    <link rel="stylesheet" href="{%static 'ecomWeb/profile/profile.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include 'ecomWeb/navbar.html' %}

    {% if messages %}
      {% for msg in messages  %}
        <div class="alert alert-{{ msg.tags }}">
          {{ msg }}
        </div>
        {% endfor %}
    {% endif %}
    {% block content%}{%endblock%}
    <script>
      var config = {
          // replace the publicKey with yours
          "publicKey": "test_public_key_dc74e0fd57cb46cd93832aee0a390234",
          "productIdentity": "1234567890",
          "productName": "Dragon",
          "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
          "paymentPreference": [
              "KHALTI",
              "EBANKING",
              "MOBILE_BANKING",
              "CONNECT_IPS",
              "SCT",
              ],
          "eventHandler": {
              onSuccess (payload) {
                  // hit merchant api for initiating verfication
                  console.log(payload);
              },
              onError (error) {
                  console.log(error);
              },
              onClose () {
                  console.log('widget is closing');
              }
          }
      };

      var checkout = new KhaltiCheckout(config);
      var btn = document.getElementById("payment-button");
      btn.onclick = function () {
          // minimum transaction amount must be 10, i.e 1000 in paisa.
          checkout.show({amount: 1000});
      }
  </script>
  <script src="{% static 'ecomWeb/index.js'%}"></script>
</body>
</html>