{% extends 'ecomWeb/base.html'%}
{% load cart_tag% }
{% load widget_tweaks %}

{% block title %}My Cart{% endblock %}
{% block content %}


{% if carts%}
<div class="whole-container " style="position: absolute;height: 100%;">
      <div class="row d-flex justify-content-center">

        <div class="col-5 mt-5">

          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Your Cart</h3>
            <a href="{% url 'delete-cart'%}" class="btn btn-danger">Delete <i class="fa fa-trash-o"></i></a>
          
          </div>
          {% for value in carts %}
            <div class="card rounded-3 mb-4">
              
              <div class="card-body p-4">

                <div class="row d-flex justify-content-between align-items-center">

                  <div class="col-md-2 col-lg-2 col-xl-2" >
                    <img
                      src="{{value.product.upper_img}}"
                      class="img-fluid rounded-3" alt="#">
                  </div>
                  <div class="col-md-5 col-lg-5 col-xl-5">
                    <a href="{% url 'product-detail' value.product.slug %}" >

                    <p class="lead fw-normal mb-2">{{value.product.name}}</p>
                    </a>
                    <p class="pb-0 mb-0"><span class="text-muted">Size: </span>{{value.product.size}}</p>
                    <p ><span class="text-muted">Color: </span>Grey</p>

                  </div>
                  <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fa fa-minus"></i>
                    </button>
    
                    <input id="form1" min="0" name="quantity" value="2" type="number"
                      class="form-control form-control-sm"  />
    
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div> -->
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5 class="mb-0">Rs. {{value.product.price}}</h5>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
  
                    <a href="{% url 'remove-cart' value.id %}"><i class="fa fa-trash-o" style="font-size:20px;color:red;" ></i></a>
  
                  </div>
                </div>
                
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-3 d-flex justify-content-between mt-5 ">
    
          <div class="col-md-12 order-view">
              <h3 class="text-left">Your Order</h3>
      
              {% for value in carts %}
                  <div class="payout-order-container w-100  p-2">
                      <div class="img-container">
                          <img src="{{value.product.upper_img}}" alt="" width="100" height="70">
                      </div>
                      <div class="card-detail ps-3 pt-2">
                          <a href="{% url 'product-detail' value.product.slug %}">
                           <h5 >{{value.product.name}}</h5>
      
                          </a>
                          <p>Rs. {{value.product.price}}</p>
                          
                      </div>
                  </div>
              {% endfor %}
              <hr style="color: rgb(233, 228, 228);">
              <div class="payout-order-view p-3">
                  <div class="delivery d-flex justify-content-between">
                      <p>Delivery : </p> <p>{{delivery_cost}} </p>
                  </div>
                  <div class="discount d-flex justify-content-between">
                      <p>Discount : </p> <p>{{discount}} </p>
      
                  </div>
                  <div class="total d-flex justify-content-between">
                      <h5>Total : </h5><h5>Rs. {{totalprice}}</h5>
      
      
                  </div>
  <small>Note: Billing address will be able to form after payment.</small>

                  <a href="{% url 'initiate_payment' %}">
                      <!-- <button   class="btn  btn-lg mt-3 w-50 m-2" style="background-color: #59c352;color: white;" > Pay With Esewa</button> -->
                      <button   class="btn  btn-lg mt-3 w-100 m-2" style="background-color: #5E338D;color: white;" > Pay With Khalti</button>
      
      
                  </a>
              </div>
             
              
          </div>
         
          
  
          
  
          
  
        </div>
       
      </div>
  {% else %}

  <div class="containear-fluid mt-5 pt-5 d-flex justify-content-center flex-column align-items-center">
    <img src="/media/images/cart.png" alt="" width="100" height="100">
    <div class="content pt-5 d-flex flex-column justify-content-center align-items-center">
      <h2>Your Cart Is <span style="color:red;">Empty</span></h2>
      <p>Must add the items to cart before you proceed to checkout. </p>
      <a href="{% url 'home' %}" class="btn btn-warning mt-3 ">Go Back Shopping</a>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}