{% extends 'ecomWeb/base.html'%}
{% load cart_tag% }
{% load widget_tweaks %}

{% block title %}My Cart{% endblock %}
{% block content %}


<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          
          </div>
          {% for key,value in request.session.cart.items%}
  
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{value.image}}"
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{value.name}}</p>
                  <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fa fa-minus"></i>
                  </button>
  
                  <input id="form1" min="0" name="quantity" value="2" type="number"
                    class="form-control form-control-sm" />
  
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">Rs. {{value.price}}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
  
          <div class="card mb-4">
            <div class="card-body p-4 d-flex flex-row">
              <div class="form-outline flex-fill">
                <form action="#" method="POST" novalidate class="d-flex">
                  {% csrf_token %}
                  {% render_field form.code class="form-control" placeholder="Enter Your Coupon" type="text" %}
                  <button type="submit" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                  
                </form>
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-body">
              <a class="btn btn-warning btn-block btn-lg" href="{% url 'payout' %}">Proceed to Pay</a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}