{% extends 'ecomWeb/base.html' %}
{% block title %}
{% for object in objects|slice:'1' %}
{{object.name}}
{% endfor %}
{% endblock %}

{% block content%}


    
    {% for object in objects %}
    <div class="whole-container"  >
        <div class="detailPage">
            <div class="detailsPhoto">
                <div class="photoPerson">
                    <img src="{{object.people_img}}" alt="">
                </div>
                <div class="Photoglass">
                    <img src="{{object.lower_image}}" alt="">
                    <div class="space">
                    </div>
                    <img src="{{object.upper_img}}" alt="">
                </div>
            </div>
            <div class="detailsGlass">
                <div class="detailName">
                    <p>{{object.brand}}</p>
                    <h5>{{object.name}}</h5>
                </div>
                <hr>
                <div class="size">
                    <p> Size: <span class="product-size">{{object.size}}</span></p>
                    <div class="colors">
                        <p>Colors available : {{object.lens_color}}
                        </p>
                        
                        <!-- <button style="background-color: black; padding: 16px;border: none;"></button>
                        <button style="background-color: brown;padding: 16px;border: none;"></button> -->
                    </div> 
                </div>  
                <hr>
                <div class="price">
                    <p>Total :Rs. {% if object.include_offer %}{{object.discount_price}}{% else%}{{object.price}}{% endif %}</p>
                    <div class="buttonGroup1 w-100">
                        <a href="{% url 'add-to-cart' object.id %}"><button id="d-cart" class="btn btn-lng w-100">
                            Add to cart
                        </button></a>
                        
                        <!-- <a href="{% url 'buy-now' object.id %}"><button id="d-buynow">
                            Buy Now 
                        </button></a> -->
                    </div>
                </div>
                <div class="shipping">
                    <p>FREE SHIPPING AVAILABLE!!</p>
                </div>
            </div>
        </div>
        <div class="aboutProduct">
            <h2><b>About this product</b></h2>
            <div class="aboutDetail">
                <div class="a1">
                    <ul>
                        <li><b>FRAME COLOR:</b></li>
                        <li>{{object.frame_color}}</li>
                    </ul>
                </div>
                <div class="a1">
                    <ul>
                        <li><b>FRAME MATERIAL:</b></li>
                        <li>{{object.frame_material}}</li>
                    </ul>
                </div>
                <div class="a1">
                    <ul>
                        <li><b>LENS TREATMENT:</b></li>
                        <li>{{object.frame_treatment}}</li>
                    </ul>
                </div>
            </div>
            <div class="aboutDetail1">
                <div class="a1">
                    <ul>
                        <li><b>FRAME SHAPE:</b></li>
                        <li>{{object.frame_shape}}</li>
                    </ul>
                </div>
                <div class="a1">
                    <ul>
                        <li><b>LENS COLOR:</b></li>
                        <li>{{object.lens_color}}</li>
                    </ul>
                </div>
                <div class="a1">
                    <ul>
                        <li><b>GENDER:</b></li>
                        <li>{{object.gender}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr id="longline">
        <div class="desc">
            <h2><b>Description:</b></h3>
                <p>{{object.description}}</p>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid d-flex justify-content-center flex-column align-items-center pb-5 mb-5">
        <h1 class="d-related-products">You may also like</h1>
        <div class="d-product-list d-flex">
            {% for p in products%}
                {% for product in p%}
                <a href="{% url 'product-detail' product.slug%}">
                    <div class="one" >
                        <img src="{{product.upper_img}}">
                        <div class="details">
                            <p>{{product.brand}}</p>
                            <h5>{{product.name}}</h5>
                            <p>Rs. {{product.price }}</p>
                        </div>
                    </a>
                        <div class="buttonGroup">
                            <a href="{%url 'add-to-cart' product.id %}">
                                <button id="cart-sunglass">
                                    Add To Cart
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}