{% extends 'ecomWeb/base.html' %}

{% block content%}
        <div class="container">
            <div class="product-detail">
                <div class="img-part">
                    <img src="{{object.image.url}}" alt="">
                </div>
                <div class="product-content">
                    <h2>{{object.name}}</h2>
                    <p>{{object.description}}</p>
                 
                    <h5>Rs.{{object.price}}</h5>
                    <div class="items">
                        
                        <h5>Only <span class="left">12 items</span> left <br>Don't Miss out </h5>
                    </div>
                    <div class="btn-group">
                        {% if user.is_authenticated%}
                        <button id="buy" onclick="alert('clicked')">Buy Now</button>
                        {% else %}
                        <button id="buy" onclick="alert('need to login')">Buy Now</button>
                        {% endif %}
                        <button id="add">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}
