{% load static %}
{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'ecomWeb/style.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
       
        <div class="container-fluid bg-dark " style="display: flex; justify-content: space-between;">

            <div class="s-logo">
                <a href="{% url 'home' %}">
                <p style="font-size:25px ;color: white;">Occhiali</p></a>
            </div>
            <div class="s-nav-bar d-flex justify-content-evenly w-100" style="padding-left: 753px;">
                <ul >
                    <li><a class="menu-link" href="{% url 'sunglasses'%}">Sunglasses</a></li>
                    <li><a class="menu-link" href="{% url 'eyeglasses' %}">Eyeglasses</a></li>
                    <li><a class="menu-link" href="{% url 'offers'%}">Offers</a></li>
                    <li><a class="menu-link" href="{% url 'services'%}">Services</a></li>
                    
                </ul>
                <ul>
                    <li style="position:relative;"><a href="{% url 'cart' %}"> <i class="fa fa-shopping-cart" style="font-size:20px ;" ></i>{% if request.user.profile.get_cart_count > 0 %}  <span class="cart-counter">{{request.user.profile.get_cart_count}} </span>{%   endif %} Cart </a></li>
                    {% if user.is_authenticated %}
                    <li >
                        <a href="{% url 'profile' %}" style="color:white;">
                            
                            <i class="fa fa-user-o"></i> Profile
                        </a>
                    </li>
                  
                    {% else %}
                    <li >
                        <a href="{% url 'login' %}" style="color:white;">
                            
                            <i class="fa fa-user-o"></i> Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    
    </header>
</body>
</html>