{% load static %}
{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'ecomWeb/style.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <!-- <div class="top-level">
            <p>+977 9123812731821</p>
            <p>Get Awesome Deals | Shop Now</p>
            <p>Nep <img src="media/images/nepa.png" alt="icon" class="nep-icon"></p>
        </div>
        <div class="header-container">
            <div class="brand-class">
                <a href="{% url 'home'%}">GiG-Byte</a>
            </div>
            <div class="search-bar">
                <nav>
                    <a href="{% url 'sunglasses' %}"><button>Sunglasses</button></a>
                    <a href="{% url 'eyeglasses' %}"><button>Eyeglasses</button></a>
                    <a href="#"><button>Featured Products</button></a>
                    <a href="#"><button>Deals</button></a>
                    <a href="#"><button>Best Seller</button></a>
                </nav>
            </div>
            <input type="text" name="seach" placeholder="Search Anything.." >
            
            <div class="icons">

                {% if user.is_authenticated %}
                <a href="{%url 'cart'%}" class="fa fa-shopping-cart"> Cart {{request.user.profile.get_cart_count}}</a>
                <a href="{% url 'profile'%}" class="fa fa-user-o"> Account</a>
                <a href="{% url 'logout'%}?next ={% url 'login' %}" class="fa fa-user-o"> Logout</a>
                {% else %}
                <a href="{% url 'cart'%}" class="fa fa-shopping-cart"> Cart </a>
                
                <a href="{% url 'login'%}" class="fa fa-user-o"> Login</a>
                {% endif %}
            </div>
        </div>
        -->
        <div class="container-fluid bg-dark " style="display: flex; justify-content: space-between;">

            <div class="s-logo">
                <a href="{% url 'home' %}">
                <p style="font-size:25px ;color: white;">Occhiali</p></a>
            </div>
            <div class="s-nav-bar d-flex justify-content-evenly w-100" style="padding-left: 753px;">
                <ul >
                    <li><a class="menu-link" href="{% url 'sunglasses'%}">Sunglasses</a></li>
                    <li><a class="menu-link" href="{% url 'eyeglasses' %}">Eyeglasses</a></li>
                    <li><a class="menu-link" href="#">Offers</a></li>
                    <li><a class="menu-link" href="#">Services</a></li>
                    
                </ul>
                <ul>
                    <li><a href="{% url 'cart' %}"> <i class="fa fa-shopping-cart"></i> Cart {% if request.user.profile.get_cart_count > 0 %} {{request.user.profile.get_cart_count}} {%   endif %}</a></li>
                    {% if user.is_authenticated %}
                    <li >
                        <a href="{% url 'profile' %}" style="color:white;">
                            
                            <i class="fa fa-user-o"></i> Profile
                        </a>
                    </li>
                    <li >
                        <a href="{% url 'logout' %}" style="color:white;">
                            
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </li>
                    {% else %}
                    <li >
                        <a href="{% url 'login' %}" style="color:white;">
                            
                            <i class="fa fa-user-o"></i> Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    
    </header>
</body>
</html>