{% extends 'ecomWeb/base.html' %}
{% block title%} Sunglaseses{% endblock %}

{% block content %}  
   
    <div class="main">
            <h3>Grab Yours Offers</h3>
            <p>Offers upto 50% is available right now. Grab it now!</p>
            <div class="main2">
                
                {% for product in products %}
                <a href="{% url 'product-detail' product.slug%}">
                    <div class="one" >
                        <img src="{{product.upper_img}}">
                        <div class="details">
                            <p>{{product.brand}}</p>
                            <h5>{{product.name}}</h5>
                            {% if product.include_offer %}
                            <p><strike>{{product.price}}</strike> Rs. {{product.discount_price }}</p>
                            {% else %}
                            <p>Rs. {{product.price }}</p>
                            {% endif %}
                        </div>
                    </a>
                        <div class="buttonGroup">
                            <a href="{% url 'add-to-cart' product.id %}">
                                <button id="cart-sunglass">
                                    Add To Cart
                                </button>
                            </a>
                            
                        </div>
                    </div>

                {% endfor %}
              
              
            </div>
            <!-- <div class="more">
                <a href="#"><h5><center>Show more</center></h5></a> 
            </div> -->
    </div>
{% endblock %}