{% extends 'ecomWeb/base.html' %}

{% block title%} Services{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class=" d-flex justify-content-center align-items-center flex-column mt-5">
        <h5 style="color:rgb(84, 43, 141);font-size:1.85em;">Making your experience the best.</h5>
        <p style="font-size: 0.95em;">Finding the perfect pair is tough, shopping for them shouldn’t be. Getting your eyewear has never been easier.</p>
    </div>
    <div class="r-container">
        <img src="https://media.glasses.com/2022/PLATFORM/SERVICE_HUB/PREMIUM_SERVICE/GL_Fit_Adjustment_D.jpg?impolicy=ContentImQuery&im=Resize,width=2000" alt="">
        <div class="text-overlay">
            <h5><b>Fit & Adjustments</b></h5>
            <p>We want your pair to be matched to you. Show your Glasses.com receipt at a LensCrafters store to receive a free fitting and adjustment for the right fit for you.</p>
        </div>
    
    </div>
    <div class=" d-flex justify-content-center align-items-center mt-5 flex-column">
        <h5>Contact Us</h5>
        <div class="card p-3  rounded mt-3">
            <div class="top d-flex justify-content-evenly">
                <img src="https://cdn-icons-png.flaticon.com/512/13/13673.png?w=740&t=st=1686402651~exp=1686403251~hmac=dd81e1ff898b16778436908f32a6ad9e350942f723cd974fe275aeeb86c897de" width="30px" height="30px"  alt="">
                <h5><b>Customer Service hours</b></h5>
    
            </div>
            <div class="card-body">
                <p class="text-secondary">Monday - Friday: 8:30am - 5:30pm </p>
                <p class="text-secondary">Sunday: 12:00am - 5:30pm </p>
                <p class="text-secondary">
                Saturday: CLOSED
    
                </p>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}