.html, body
{
    padding: 0;
    margin: 0;
    font-family: DM Sans, sans-serif !important;
    letter-spacing: 2px;
    line-height: 1.5;
    background-color: #f1e2dc;
    scroll-behavior: smooth;
}
@keyframes apperanceAnimation{
    0%{
        opacity: 0;
        left:-100px
    }
    100%{
        opacity: 1;
        left:0;
    }
}

@keyframes opacityAnimation {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


a{
    text-decoration: none;
}
.s-hero-image
{
    background-image:url(/media/assets/hero-img-3.jpg);
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;    
    background-size: cover;
    padding: 0px 30px 320px 30px;
    color: white;
}
.s-blog-description
{
    text-align: left;
    font-size: 18px;
}
.s-blog-description p 
{
    margin-bottom: 6rem;
}
.s-content1 a
{
    text-decoration: none;
    color: black;
}
.s-hero-image-blog
{
    background-image:url(media/glasses.jpg);
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 30px 320px 30px;
}
.s-hero-text{
    position: relative;
    animation: apperanceAnimation 0.75s ease-in-out;
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 4em;
}
.s-hero-text-heading
{
    
    font-size: 5em;
    transition: 3sec ease-in;
   
}
#s-shop{
    animation: opacityAnimation 1s ease-in;
    padding: 15px;
    letter-spacing: 2px;
    background-color: white;
    font-size: medium;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    left:0   ;
}

#s-shop:hover {
    background-color: rgb(217, 212, 212);
}
#s-featured{
    animation: opacityAnimation 1s ease-in;

    margin-left: 0.5em;
    padding: 15px;
    letter-spacing: 2px;
    font-size: medium;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    left:0   ;
}
#s-featured:hover{
    border: 1px solid cyan;
}

.s-hero-text-desc
{
    font-size:16px;
    width: 100%;
    
}
.s-logo
{
    /* color: brown; */
    margin-left:50px; 
    width: 20%;
    padding: 20px;
    position: absolute;
    /* font-family: serif; */
}
.s-nav-bar ul
{
    justify-content: center;
    text-align: center;
    display: flex;
    list-style: none;
    /* background-color: hsl(0 0% 100% / 0.12);
    backdrop-filter: blur(1rem); */
    /* background-color: #e8dcd0; */
    margin: 0;
}
.s-nav-bar ul li
{
    color:white;
    padding: 1.5em;
}
.s-nav-bar ul li a
{
    color:white;
    text-decoration: none;
}
.s-content{
    position: absolute;
    top:50%;
    left: 10%;
    color: white;
    width: 60%;
}

*{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
ul{
    list-style: none;
    padding: 0;
}
.s-offer
{
    margin-top: 150px;
}

.s-glass-section
{
    padding-top: 100px;
    background-color: #d6d6d6;
}
.s-glass-show
{
    margin-top: 100px !important;
}
.s-card
{
    background-color: #d6d6d6 !important ;
    border: 0px !important;
}
.s-card-title
{
    align-items: center !important;
}

    
    .s-newsletter .s-content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .s-newsletter .s-content h2 {
    color: #243c4f;
    margin-bottom: 40epx; }
    .s-newsletter .s-content .s-form-control {
    height: 50px;
    border-color: black;
    border-radius:0;
    }
    .s-newsletter .s-content.s-form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .s-newsletter .s-content .s-btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
    }


.s-content h5
{
    color: black;
    text-align: lefts;
}
footer
{
    padding-block: 70px;
}
footer p{
    color: rgb(49, 48, 48);
    font-size: 0.95em;
}

footer a{
    text-decoration: none;
    color: rgb(49, 48, 48);
}

footer a:hover{
    color: black;
}

