@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');


*{
    margin: 0;
}

a{
    text-decoration:none;
    color: black;
}

header{
    display: block;
    background-color: #F6FFF8;
}
main{   
    padding-bottom: 5em;
}
.top-level{
    padding-inline:10%;
    display: flex;
    padding-block: 0.5em;
    justify-content: space-between;
    align-items: center;
    background-color: #6B9080;

}
.nep-icon{
    width: 15px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:10%;
    padding-block: 0.5em;
}
.brand-class{
    display: flex;
    align-items: center;
}
.brand-class a{
    font-size: 2em;
    color: #6B9080;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.icons .fa {
    font-size: 1.25em;
}
nav{
    display: flex;
    align-items: center;
}
nav button{
    border: none;
    padding: 0.1em;
    background-color: transparent;
    margin: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
}
button:hover{
    color: rgb(70, 69, 69);
}
.icons{
    margin-left: 1em;

}
.icons a{
    padding: 0.5em;
}
.search-bar{
    margin-top: 0.5em;
    display: flex;
    justify-content: center;    
}
.header-container input[type="text"]{
    border-radius: 20px;
    width: 20%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid green;
    padding:0.75em;
}
.container{
    margin-inline: 10%;

}
.img-slide{
    position: relative;
}
.img-slide img{
    width: 100%;
    height: 50vh;
}
.img-overlay{
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.img-overlay h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    letter-spacing: 0.1em;
}
.img-overlay h3{
    color: white;
    font-size: 1.25em;
    text-align: left;
}
.img-overlay button{
    cursor: pointer;
    border: none;
    padding: 1em;
    color: white;
    margin-top: 1em;
    font-size: 1em;
    background-color: green;
}


/* featured part */
.featured,.hot-deals{
    margin-top: 3em;
    padding-bottom: 3em;
}
.featured, .hot-deals h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.featured-top-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-top-title a{
    background-color: rgb(224, 218, 218);
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 20px;
}
.featured-products{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    row-gap: 3em;
    flex-wrap: wrap;
}
.single-product{
    width: 20%;
}
.single-product img{
    width: 100%;
    cursor: pointer;
    height: 300px;
    border-radius: 20px;
}
.single-product h4{
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: rgb(49, 47, 47);
}

.prod-title-price{
    margin-top: 1.2em;
    display: flex;
    justify-content:space-between;
}
.single-product p{
    padding-block: 0.5em;
    font-size: 0.9em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.single-product button{
    margin-top: 1em;
    display: block;
    padding:1em 1.5em 1em 1.5em;
    border-radius: 20px;
    background-color: white;
    border:0.5px solid black;
    font-weight: 600;
}
.single-product button:hover{
    background-color: rgb(239, 237, 237);
    cursor: pointer;
}

/* category */
.categories-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
}
.single-category{
    cursor: pointer;
    text-align: center;
    width: 10%;
    background-color: rgb(245, 240, 240);
    padding: 2em;
    border-radius:10px;
    color: rgb(107, 106, 106);
}

.single-category i{
    font-size: 3em;
    margin-bottom: 0.25em;
}
.single-category h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.single-category:hover{
    transform: scale(110%);
    transition: 0.25s ease-out;
}

/*hot deals  */


/* partners */
.partners{
    margin-top: 5em;
    background-color: gainsboro;
    padding: 4em;
}
.tech-icons{
    display: flex;
    justify-content: center;
    gap: 4em;
}
.tech-icons img{
    width: 5%;
}

.news-letter{
    margin-top: 5em;
    margin-inline:10%;
    display: flex;
    align-items: center;
}
.left-part{
    display: flex;
    align-items: center;
}
.left-part-content{
    padding-inline: 1.5em;

}
.left-part-content p{
    color:grey;
    padding-block: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-part img{
    width: 10%;
}
.right-part{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-part input[type='email'] {
    padding: 0.75em;
    width: 60%;
}
.right-part button{
    border: 2px solid #27e485;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-block: 0.75em;
    background-color: #27e485;
}
/* detail */
.product-detail{
    margin-top: 5em;
    display: flex;
}
.img-part{
    width: 50%;
}
.img-part img{
    width: 100%;
}
.product-content{
    width: 50%;
}
.product-content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    padding-bottom: 0.5em;
}
.product-content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
.product-content i{
    color: rgb(1, 255, 1);
    padding-block: 1.5em;
}
.items{
    display: flex;
    justify-content: start;
    align-items: center;
}
.item-count {
    width: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 217, 217);
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 20px;
    align-items: center;
    margin-right:2em ;
}
.item-count p{
    font-weight:bold;
}

.item-count button{
    background-color: rgb(224, 217, 217);
    border: none;
    font-size: 1.2em;
}
.items h5{
    color: rgb(73, 72, 72);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}
.left{
    color: #055f32;
    font-weight: 900;
}
.btn-group{
    margin-top: 3em;
}
.btn-group button{
    padding: 1em 5em 1em 5em;
    border-radius: 20px;
    margin-right: 2em;
    font-size: 0.8em;
    font-size: 1em;
    cursor: pointer;
}

#buy{
    background-color: #055f32;
    color: white;
    border: none;
}
#add{
    color: black;
    border: 1px solid #055f32;
}
#buy:hover{
    background-color: #15ae61;

}
#add:hover{
    background-color: rgb(223, 216, 216);

}



:root{
    --boxColor:rgb(250, 248, 248);
    --titleFont: 'DM Sans', sans-serif;
}





.main12 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
