{% extends 'ecomWeb/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container content-section mt-5" >
	<div class="container d-flex justify-content-between p-0 m-0">
		<h3>Occhila Profile</h3>
	</div>
	<hr>
	<div class=" row d-flex mt-5">
		<div class="col-md-4 dalign-items-center ">
			<div class="personal-information ms-4">
				<img src="{{user.profile.image.url}}" alt="profile-pic" width="100px" height="100px" class="rounded-circle">
				<h5 class="account-heading ps-3 pt-2">{{ user.username }}</h5>
				<p class="text-secondary">{{ user.email }}</p>
			</div>

			<nav>
				<ul class="list-group list-group-flush">
					<li class="list-group-item p-4"><a href="{% url 'profile' %}" >Personal Information</a></li>
					<li class="list-group-item p-4"><a href="{% url 'billing' %}">Billing & Payments</a></li>
					<li class="list-group-item p-4"><a href="{% url 'myorder' %}" style="font-weight:bold;" >Order History</a></li>
					<li class="list-group-item p-4"><a href="#" >Redeem Coupon</a></li>
				</ul>
			</nav>

		</div>
		
		<div class="col-md-8 ps-4 " id="order">
			<h4>Order History</h4>
			<p>Manage and view your order history up to date.</p>
			<div class="row mt-5">
				{% for order in orders %}
				<div class="card col-md-12 bg-light p-3 rounded mb-4">
					<div class="header d-flex justify-content-between">
						<h5 class="col-md-8">Order</h5>
						<div class="col-md-4 d-flex justify-content-between" >
							{{order.payment_completed}}
							{% if order.payment_completed == "True" %}
						<button class="btn btn-primary">{{order.payment_completed}}</button>
						{% elif order.status == "Out for Shipping" %}
						<button class="btn btn-warning">{{order.status}}</button>
						{% else %}
						<button class="btn btn-success">{{order.status}}</button>
						{% endif%}
						<a href="{% url 'cancel-order' order.id %}">
						
						<button class="btn btn-danger">Cancel Order</button>
						</div>

						</a>

					</div>
					<small>Created At: {{order.created_at}}</small>
					<!-- <i class="fa fa-angle-double-down d-flex justify-content-center align-items-center " id="down"></i> -->
					
					<div class="product-detail d-flex flex-column mt-0" >

						<hr style="background-color: black;">

						<div class="d-flex " >
							<table >
								<tr>
									<th>Product</th>
									<th>Size</th>
									<th>Price</th>
								</tr>
									{% for items in orderitems %}
									{% if items.order == order %}
									<tr>
										<td>{{items.product.name}}</td>
										<td>{{items.product.size}}</td>
										<td>Rs. {{items.product.price}}</td>
	
									</tr>
									{% endif %}
	
									{% endfor %}
								<tr>
									<td></td>
									<td><b>Total</b></td>
									<td ><b>	Rs. {{order.total_price}}</b></td>
								</tr>
							</table>
						</div>
					</div>
					
				</div>
				{% endfor %}

			
				
			</div>

		</div>
		
		

	</div>
		
</div>


{% endblock %}