{% extends 'ecomWeb/base.html' %}
{% load widget_tweaks %}
{% load cart_tag% }
{% block title%} Payout{% endblock %}

{% block content %}
<div class="container d-flex justify-content-between mt-5 ">
    
    <div class="col-md-4 order-view">
        <h3 class="text-left">Your Order</h3>

        {% for value in carts %}
            <div class="payout-order-container w-100  p-2">
                <div class="img-container">
                    <img src="{{value.product.upper_img}}" alt="" width="100" height="70">
                </div>
                <div class="card-detail ps-3 pt-2">
                    <a href="{% url 'product-detail' value.product.slug %}">
                     <h5 >{{value.product.name}}</h5>

                    </a>
                    <p>Rs. {{value.product.price}}</p>
                    
                </div>
            </div>
        {% endfor %}
        <hr style="color: rgb(233, 228, 228);">
        <div class="payout-order-view p-3">
            <div class="delivery d-flex justify-content-between">
                <p>Delivery : </p> <p>{{delivery_cost}} </p>
            </div>
            <div class="discount d-flex justify-content-between">
                <p>Discount : </p> <p>{{discount}} </p>

            </div>
            <div class="total d-flex justify-content-between">
                <h5>Total : </h5><h5>Rs. {{totalprice}}</h5>


            </div>
            <a href="{% url 'initiate_payment' %}">
                <!-- <button   class="btn  btn-lg mt-3 w-50 m-2" style="background-color: #59c352;color: white;" > Pay With Esewa</button> -->
                <button   class="btn  btn-lg mt-3 w-50 m-2" style="background-color: #5E338D;color: white;" > Pay With Khalti</button>


            </a>
        </div>
       
        
    </div>
    
</div>
<!-- <script>
    var config = {
        
        // replace the publicKey with yours
        "publicKey": "test_public_key_93c03d427fc84712a7e39b6bd61d7e23",
        "productIdentity": "1234567890",
        "productName": "Dragon",
        "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
            ],
        "eventHandler": {
            onSuccess (payload) {
                // hit merchant api for initiating verfication
                console.log(payload);
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
        // minimum transaction amount must be 10, i.e 1000 in paisa.
        checkout.show({amount: 1000});
    }
    </script> -->
{% endblock %}